![alt text](https://www.business.unsw.edu.au/style%20library/asb/assets/images/logo-unsw.png)

# MARK5826 Product Analytics
## Introduction to Python

Contributors: James Lin, Namsu Kim, Osamah Al-Qershi

Presenter: Osamah Al-Qershi

![alt text](http://blog.opentechschool.org/assets/content/python.png)

# 1. Overview

## What is it?

Python is a programming language. Just as we have languages like English, Chinese and French to talk amongst people, a programming language is a way of talking to the computer to perform specific tasks.

For example, when you use a software such as Microsoft Excel, you would perform tasks such as sorting, filtering columns or drawing a bar graph. In a way, you can see Python as a different tool that can perform these same functions as Excel.

## Why are we using Python?
![alt text](https://cdn-images-1.medium.com/max/1600/1*_R4CyVH0DSXkJsoRk-Px_Q.png)

## Companies using Python
![alt text](https://4.bp.blogspot.com/-fFvckdzL0IM/WoaG0NiM0II/AAAAAAAAXOA/VwbfmSEI7XAQuoqnkpF3ev2ZhHExhorPwCLcBGAs/s640/Companies-Using-Python-Python-Programming-Language-Edureka.png)

## What can I gain from learning Python in MARK5826?

###### In MARK5826, we will be teaching Python geared towards **Data Analysis**. Here are some use cases of Python compared to Excel.

1. **Handling Big Data:** Python can handle several millions of rows of data, depending on your computer hardware; Excel starts to lag and crash at +750, 000 rows. Also Python performs much more quickly.

2. **Automation/Consistency/Reproducibility:** In Python, you can write a script (a document containing all the instructions you've written) containing all the sorting, filtering, cleaning, and run it over a dataset with one command; Excel (if you do not use VBA) would require you to manually filter/clean, which takes time.

3. **Extremely Versatile:** Python can perform any task you can think of prom processing various data such as table, text, image, video to creating any graph to performing machine-learning models such as Linear Regression, Random Forests or Neural Networks (don't worry if you don't know these) 

![alt image](http://chris35wills.github.io/courses/pydata_stack.png)

That being said, Excel is still an extremely useful tool and it is strongly encouraged to use them both.


**IMPORTANT:** Please work with Python 3 Notebooks, which use Python version 3.6.7. (as of 2019 Term 1).

You can check what version you are using from *Edit -> Notebook Settings* or running the code below.

In [1]:
# Print the Python version (you do not need to know this for the course)
import sys
print(sys.version)

3.6.7 (default, Oct 22 2018, 11:32:17)
[GCC 8.2.0]


The aim of this notebook is to introduce the Python programming language. Only the bare minimum necessary for getting started with Python and Pandas package. If you want to learn more about Python, consider going through the excellent tutorial http://docs.python.org/tutorial. Dedicated books are also available, such as http://diveintopython.org/.

![alt image](https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Cheat+Sheets/content_pythonfordatascience.png)

## Font Colour Definitions

-<font color='green'> **Green: Important Key Concepts** </font>


-<font color='blue'> **Blue: Variable Names and Variable Values** </font>

# Part 1 (30 min)

## Printing

In Python, <font color='green'> **print** </font>  displays text on screen. Here is an example.

In [2]:
print('Hello, World!')

Hello, World!

The message “Hello, World!” is then displayed.

**Congratulations!** You just executed your first Python code!

The <font color='green'> **print** </font> function prints whatever is between the parentheses ( ).

In [3]:
print(2)

2

In [4]:
"Hello World"

'Hello World'

In [5]:
print("Hello World")
print("Bye World")

Hello World
Bye World

## Variables and Types

<font color='green'> **Variables** </font> are used to store information (numbers, texts, tables, etc) to be referenced and manipulated in a Python program.

This tutorial will go over a few basic types of variables:

### Numbers

#### Definition

In programming, you can define numbers and apply mathematical operations to them.

Python supports different types of numbers. However, in this class we will just focus on <font color='green'> **integers** </font> and <font color='green'> **floats** </font> as they are the most common types we will encounter.

##### Integers

<font color='green'>**Integers**</font> represent whole numbers.

To define an <font color='green'> **integer variable** </font>, use the following syntax:

In [0]:
a = 10

This stores the value  <font color='blue'>**10**</font> in the <font color='green'>**variable**</font>  <font color='blue'> **a**</font>. Note that it did not print or display anything.

##### Floating-Point Number

<font color='green'>**Floating-Point (float)**</font> represents a decimal number.

In the same manner as <font color='green'>**integers**</font>, we can define a <font color='green'> **float variable** </font>

In [0]:
b = 2.5

Data is now stored in the <font color='green'>**variables**</font> <font color='blue'>**a</font> and <font color='blue'>b**</font>.

We can use these two variables in any part of our program, like this:

In [8]:
print(a)
print(type(a))

10
<class 'int'>

In [9]:
print(b)
print(type(b))

2.5
<class 'float'>

#### Operations

Python provides many mathematical operations for you to use. 

Here are some basic operations.

**NOTE: In Python, you can write <font color='green'> comments </font> to describe something that could be difficult to understand. Comments don't do anything. You can use the hashtag "#" for a single-line comment or triple quotes """ """ for a multi-line comment.**

In [10]:
x = 11
y = 2.5
print(x + y) # Addition
print(x - y) # Subtraction
print(x * y) # Multiplication
print(x / y) # Division

13.5
8.5
27.5
4.4

Here are a few more Python operations.

In [11]:
"""You do not need to learn/memorise this. Just be aware that they exist."""
x = 5
y = 2
print(x ** y) # Exponent (x to the power of y | x^y)
print(x // y) # Quotient (division without the use of remainders)
print(x % y)  # Modulus (remainder from division)

25
2
1

More information about the different types of operators in Python can be found in https://www.programiz.com/python-programming/operators

### Strings

#### Definition

A <font color='green'>**string**</font> represents text. A string comprises of characters, similar to how a word or sentence contains letters.

Here are some examples:

In [0]:
word = 'Melena'
sentence = "I will pass this course!!!"
letter = 'a'

Notice that:
**To define a  <font color='green'>string</font>, use  the single quotation marks <font color='green'>**' '**</font> or double quotation marks <font color='green'>**" "**</font>**

<font color='blue'> **'Melena'** </font> is a word, <font color='blue'> **"I will pass this course!!!"** </font> is a sentence, and <font color='blue'> **'a'** </font> is a letter. 

However, whatever is inside <font color='green'>**' '**</font>  or <font color='green'>**" "**</font> will appear as a <font color='green'>**string**</font> to Python.

Again, the above lines do not print anything. They just define the <font color='green'>**variables**</font>. We can print the contents of these <font color='green'>**variables**</font> using the function <font color='green'>**print**</font>:

In [13]:
print(word)
print(type(word))
print(len(word))  # len = Length of the string

print("")

print(sentence)
print(type(sentence))
print(len(sentence))

print("")

print(letter)
print(type(letter))
print(len(letter))

Melena
<class 'str'>
6

I will pass this course!!!
<class 'str'>
26

a
<class 'str'>
1

#### Operations

##### Indexing

To <font color='green'>**index**</font> something means to keep track of data so that it can be accessed quickly.

Similar to how a non-fiction book would have an index at the back, a string can also be indexed.

If we have a string "Obama," it's elements and indexes would be

Value | O | b | a | m | a
--- | ---
Index (Left to Right)| 0 | 1 | 2 | 3 | 4
Index (Right to Left)| -5 | -4 | -3 | -2 | -1

The notation to perform string indexing is to use square brackets with the index inside.

**Note:** This is an important concept. Later in the course, you will extract a specific part of a list or databases to check, delete unnecessary data and etc.

In [0]:
us_President = "Obama"

In [15]:
print(us_President[0])  # Get the 1st element (0th index) of the string

O

In [16]:
print(us_President[1])  # Get the 2nd element (1st index) of the string

b

In [17]:
print(us_President[-1]) # Get the last element of the string

a

In [18]:
print(us_President[-2]) # Get the 2nd last element of the string

m

##### Slicing

![alt text](https://i.stack.imgur.com/IVkET.jpg)

To <font color='green'>**slice**</font> a <font color='green'>**string**</font> means to extract a subset.

The notation to perform slicing is **[start:stop:step]**.

In [0]:
sentence = "Welcome to MARK5826!"

In [20]:
print(sentence[1:3])               # Start from 1st index (inclusive); Stop at 3rd index (exclusive)

el

In [21]:
print(sentence[:3])                # Same as sentence[0:3]

Wel

In [22]:
print(sentence[3:])                # Same as sentence[3:len(sentence)]

come to MARK5826!

In [23]:
print(sentence[0:len(sentence):2]) # Print whole string, two steps at a time.

Wloet AK86

In [24]:
print(sentence[-3:])              # Print the last 3 characters

26!

##### Concatenation

In programming, <font color='green'>**concatenation**</font> just means joining. 

Below are some examples of <font color='green'>**string concatenation**</font>

In [0]:
laugh = "ha"
help_me = "...help me..."

In [26]:
print(laugh + "haa")     # Join 2 strings

hahaa

In [27]:
print(laugh * 5)         # Repeat String 5 times

hahahahaha

In [28]:
haha_help_me = laugh * 5 + help_me
print(haha_help_me)

hahahahaha...help me...

# Exercise 1
Write a python code to print your name and age.
For example:

Tom

24

# Answer

In [29]:
Name = 'Danica'
Age = 22
print(Name)
print (Age)

Danica
22

# Exercise 2
Modify the code in Exercise 1 to print:

Tom is 24

# Answer

In [30]:
Name = 'Tom'
Age = 24
print(Name + ' is '+str(Age))

Tom is 24

# Exercise 3
Modify the code in Exercise 1 to print:

My name is Tom and I am 24

# Answer

In [31]:
Name = 'Tom'
Age = 24
# put your code here
Front = 'My name is'

print(Front + ' ' +Name + ' and I am ' + str(Age))

My name is Tom and I am 24

# Exercise 4
Create two numerical variables, A & B and calculate their avergae and print the result.
For example: if the value of A and B are 10 and 30, then the code should print 20.
# Answer

In [32]:
A = 10
B = 30
result = (A+B)//2
print (result)

20

# Exercise 5
Modify the code to calaculate the average of three variables A, B and C
# Answer

In [33]:
# Put your Code here
A = 10
B = 20
C = 30

average = (A+B+C)//3
print(average)

20

# Exercise 6
You have the string 'Jan Feb Mar', write a Python code to print the following lines:

First month is Jan

Third month is Mar

# Answer

In [34]:
Months = 'Jan Feb Mar'
print ('First month is ' + Months[0:3])
print ('Third month is ' + Months[-3:])

First month is Jan
Third month is Mar

# Quiz 1 (1 Mark)
Modify the code in Exercise 6 to print the second month.

In [35]:
Months = 'Jan Feb Mar'
# put your code here
print('Second Month is ' + Months[4:7])

Second Month is Feb

# Part 2 (30 min)

### Boolean

#### Definition

Python provides the <font color='green'>**Boolean**</font> type that can be either set to <font color='green'>**True** </font> or <font color='green'>**False**</font>. Boolean variables are very important when dealing with <font color='green'>**filtering**</font> (covered later) marketing data you are interested in. For example, when analysing the difference in marketing ad effectivness for different age group, we might have a group where thisPersonIsAdult = <font color='green'>**True**</font> or <font color='green'>**False**</font>.

To define a <font color='green'>**variable**</font> of type <font color='green'>**boolean**</font>:

In [0]:
state_1 = True
state_2 = False

In [37]:
print(state_1)
print(type(state_1))
print(state_2)
print(type(state_2))

True
<class 'bool'>
False
<class 'bool'>

#### Comparison Operators

In Python, there are Comparison operators.

![alt text](https://i.pinimg.com/originals/bd/61/9b/bd619b4111791850194f266b2e43822f.jpg)

In [0]:
x = 5
y = 10
z = 2

In [39]:
print(x == y)

False

In [40]:
print(x != x)

False

In [41]:
print(x > z)

True

In [42]:
print(z < y)

True

In [43]:
print(x >= x)

True

#### Boolean Operators

Python also contains special keywords <font color='green'>**AND, OR, NOT**</font>

![alt text](https://sites.google.com/a/onalaskaschools.com/tech/boolean-search-tools/booleanOperators.png?attredirects=0)

![alt text](https://upload.wikimedia.org/wikipedia/commons/4/4a/Truth_table_for_AND%2C_OR%2C_and_NOT.png)

**Note:** This is an important concept. If we have a large amount of  Apple ad  marketing data from youtube.com, we will analyse a specific set of dataset we are interested in. For example, we could select area = Australia **AND** time = 6pm - 8pm in order to find out how effective ad was during that time in that area.

In [0]:
x = 5
y = 10
z = 2

In [45]:
print(not (z < y))

False

In [46]:
print(x == x and z < y)

True

In [47]:
print(x > z or y != z)

True

### Lists

#### Definition

In a Python list we can store data like a shopping list.

A <font color='green'>**list**</font> is created from using square brackets <font color='green'>**[ ]**</font> and using a comma <font color='green'>**,**</font> to separate each item.

Here are a few examples.

In [0]:
empty_list = []
string_list = ['Mon','Tue','Wed','Thu','Fri']
integer_list = [0,2,4,6,8,10]
mixed_list = [2019,'Feb',10.4]

In [49]:
print(empty_list)
print(type(empty_list))
print(len(empty_list))

print("")

print(string_list)
print(type(string_list))
print(len(string_list))

print("")

print(integer_list)
print(type(integer_list))
print(len(integer_list))

print("")

print(mixed_list)
print(type(mixed_list))
print(len(mixed_list))

[]
<class 'list'>
0

['Mon', 'Tue', 'Wed', 'Thu', 'Fri']
<class 'list'>
5

[0, 2, 4, 6, 8, 10]
<class 'list'>
6

[2019, 'Feb', 10.4]
<class 'list'>
3

#### Operations

##### Indexing

A list contains elements just as a string contains characters.

Thus, you can index lists in the same way you can index strings.

Here are some examples.

In [50]:
numbers = list(range(1, 10)) # Generates a list of numbers from 1 (start) to 10 (stop)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
temp_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(temp_numbers == numbers) # This will print if temp_numbers is equal to numbers

True

In [52]:
print(numbers[3]) # the index of the list starts at 0

4

In [53]:
print(numbers[1])

2

In [54]:
print(numbers[-2])

8

In [55]:
print(numbers.index(5)) # what is the index of the element 5 of the list numbers

4

##### Slicing

You can also slice lists in the same way you can perform slicing in strings.

In [56]:
numbers = list(range(1,50,4)) # Generates a list of numbers from 1 (start) to 50 (stop) with step=2
print(numbers)

[1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49]

In [57]:
print(numbers[3:5])

[13, 17]

In [58]:
print(numbers[1:len(numbers):2])

[5, 13, 21, 29, 37, 45]

In [59]:
print(numbers[::-1])

[49, 45, 41, 37, 33, 29, 25, 21, 17, 13, 9, 5, 1]

##### Concatenation

Joining lists is also very similar to joining strings.

In [0]:
numbers = [1, 2, 3]

In [61]:

print(numbers + numbers)

[1, 2, 3, 1, 2, 3]

In [62]:
print(numbers * 4)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [63]:
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

### Dictionaries

#### Definition

Python dictionaries are like language dictionaries. They have 'keys' and 'values' and just like a normal dictionary, we use a <font color='green'>**key**</font> (a word) to get a <font color='green'>**value**</font> (definition of the word).

Here are some examples:

In [0]:
student = {'Name': 'Zara', 'Age': 7, 'Class': 'MARK5826'}

In the above example, we defined a <font color='green'>**dictionary**</font> of the name <font color='blue'>**student**</font>. It has three <font color='green'>**keys**</font>: ' <font color='blue'>**Name**</font>', ' <font color='blue'>**Age**</font>', and ' <font color='blue'>**Class**</font>'. 

The  <font color='green'>**key**</font> ' <font color='blue'>**Name**</font>' has the value <font color='blue'>**'Zara'**</font>, and so on.

In [65]:
print(student)
print(student["Name"])
print(len(student))
print(type(student))

{'Name': 'Zara', 'Age': 7, 'Class': 'MARK5826'}
Zara
3
<class 'dict'>

In [0]:
empty_dict = {}
released = {
  "iphone" : 2007,
  "iphone 3G" : 2008,
  "iphone 3GS" : 2009,
  "iphone 4" : 2010,
  "iphone 4S" : 2011,
  "iphone 5" : 2012
}

In [67]:
print(empty_dict)
print(len(empty_dict))
print(type(empty_dict))

print("")

print(released)
print(released["iphone 5"])
print(len(released))
print(type(released))

{}
0
<class 'dict'>

{'iphone': 2007, 'iphone 3G': 2008, 'iphone 3GS': 2009, 'iphone 4': 2010, 'iphone 4S': 2011, 'iphone 5': 2012}
2012
6
<class 'dict'>

#### Operations

In [0]:
student = {'Name': 'Zara', 'Age': 7, 'Class': 'MARK5826'}

Changing the value of an existing key.

In [69]:
student["Name"] = "Zack"
print(student["Name"])

Zack

Creating a new key, value pair

In [70]:
student["Hobby"] = "Basketball"
print(student)

{'Name': 'Zack', 'Age': 7, 'Class': 'MARK5826', 'Hobby': 'Basketball'}

Getting all of the keys in a dictionary.

In [71]:
print(student.keys())

dict_keys(['Name', 'Age', 'Class', 'Hobby'])

Getting all of the values in a dictionary.

In [72]:
print(student.values())

dict_values(['Zack', 7, 'MARK5826', 'Basketball'])

### Python Variable Name Rules


- **Must begin with a letter (a - z, A - B) or underscore (_)**
- **Other characters can be letters, numbers or _ (no space is allowed)**
- **Case Sensitive.(Example: test dose not equal Test)**
- **Can be any (reasonable) length**.
- **There are some reserved words which you cannot use as a variable name because Python uses them for other things.(Example : <font color='green'> ** print** </font>)**

 
### <font color='green'> Acceptable variable names </font> : <font color='blue'> A1 , count ,   number_of_samples ,   _test </font>

### <font color='red'> Unacceptable variable names </font> : <font color='blue'> 1A , count@,   number of samples ,   b-1 , print </font>

___________________________________________________________________________________________________________________________________________________________________________________________________________________________

## Conditional Statements

Using conditional statements allow the computer to decide what actions to take based on the condition you set. To do this, you will need to define 2 things:
  - **A condition**
  - **A task**

In Python, we can achieve this through **IF**, **ELIF**, and/or **ELSE** statements.



```
if traffic_light == red:
    drive_car()
else:
    stop()
```
here
- Condition: is traffic light red?
- Task: drive car or stop

**A few important things to note about syntax.**

- Remember to include a **colon** (:) after the condition.
- The line after the colon must be **indented**.
- All lines indented the same amount after the colon will be executed whenever the condition is true.

In [73]:
mark = 76
if mark < 50:         # Condition 1 (remember to use a colon)
  print("Fail")       # Task 1 (note that this line is indented)
  print(":(")
else:                 # If Condition 1 Fails
  print("Success")    # Task 2
  print(":D")
print("._.")          # Non-indented line

Success
:D
._.

In [74]:
mark = 100
if mark < 50:
  print("FL")
elif mark < 65:
  print("PS")
elif mark < 75:
  print("CR")
elif mark < 85:
  print("DN")
else:
  print("HD")

HD

In [75]:
hobbies = ["Basketball", "Swimming", "Tennis", "Snooker"]
if "Snooker" in hobbies:
  print("You rock!")

You rock!

In [76]:
student = {'Name': 'Zara', 'Age': 7, 'Class': 'MARK5826'}
if 'Name' in student.keys():
  print("Yes")
else:
  print("No")

Yes

In [77]:
if 'Zara' in student.values():
  print("Yes")
else:
  print("No")

Yes

# Exercise 7
Run the code below and check the result. Is it correct ?
# Code

# Exercise 7
Run the code below and check the result. Is it correct ? why ?
# Code

In [78]:
A = 5
B ='5'
print (A == B)

False

# Exercise 8
In Exercise 7, modify the code to print 'True' instead of False
# Answer

In [79]:
A = 5
B ='5'
print (A == int(B)) #option 1 : convert the string into intger using int 
print (str(A) == B) #option 2 : convert the intger into string using str

True
True

# Exercise 9
You have a list of the days of the week. Write a Python code to slice it into weekdays and weekends and print the result.
# Answer

In [80]:
Days = ['Mon', 'Tue', 'Wed','Thu','Fri','Sat', 'Sun']
Weekdays = Days[0:5]
Weekends = Days[5::]
print (Weekdays)
print (Weekends)

['Mon', 'Tue', 'Wed', 'Thu', 'Fri']
['Sat', 'Sun']

# Exercise 10
Repeat Exercise 9 with string 'Days' below.
# Answer

In [81]:
Days = ['Sat', 'Sun','Mon', 'Tue', 'Wed','Thu','Fri']
# put you code here

weekdays = Days[2:]
weekends = Days[0:2]
print(weekdays)
print(weekends)

['Mon', 'Tue', 'Wed', 'Thu', 'Fri']
['Sat', 'Sun']

# Exercise 11
Usinge the function 'range', create a list of odd numbers between 0 and 10.
# Answer

In [82]:
Odd = list(range(1,10,2))
print (Odd)

[1, 3, 5, 7, 9]

# Exercise 12
Modify the code in Exercise 11 to create and print a list of even numbers between 0 and 10.
# Answer

In [83]:
#put your code here
even = list(range(0, 10,2))
print(even)

[0, 2, 4, 6, 8]

# Exercise 13
You have the marks of 4 subjects. Print the subjects and the marks as lists.
# Answer

In [84]:
Record = {'Math':77,'Science' :89, 'Geography':80, 'English':84}
Subjects = list(Record.keys())
Marks = list(Record.values())
print (Subjects)
print(Marks)

['Math', 'Science', 'Geography', 'English']
[77, 89, 80, 84]

# Quiz 2 (2 Marks)
1 - In Exercise 13, calculate the total and the average of the marks, and then add them to the dictionary 'Record'. 

2 - Based on the calculated average, find out the grade (HD, DN, etc) and add it to 'Record'.

3 - Print the dictionary 'Record'

In [85]:
Record = {'Math':77,'Science' :89, 'Geography':80, 'English':84}
# put your code here
total = sum(Record.values())
avg = total//len(Record)
print(avg)

mark = avg
if mark < 50:
  print("FL")
elif mark < 65:
  print("PS")
elif mark < 75:
  print("CR")
elif mark < 85:
  print("DN")
else:
  print("HD")
  

Record['Average'] = '82'
print('New Dictionary:')
print(Record)

82
DN
New Dictionary:
{'Math': 77, 'Science': 89, 'Geography': 80, 'English': 84, 'Average': '82'}

# Part 3 (30 min)

## Loops

One way computers transcend human ability is its ability to do repetitive tasks consistently. Loops allow computers to repeat the same task over a list of elements, or until a condition is satisfied.

Python has two ways to perform loops:
- <font color='green'> **For Loop** </font> 
- <font color='green'> **While Loop** </font>

### For Loop

For loop is designed to iterate over a list of elements, until the end of the list has been reached.

In [86]:
shopping_items = ["Bread", "Milk", "Salmon", "Chicken"]
for item in shopping_items:
  print(item)

Bread
Milk
Salmon
Chicken

In [87]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [88]:
for i, item in enumerate(shopping_items):
  print("Purchasing item " + str(i) + ": " + item) # str() converts i (integer) into a string

Purchasing item 0: Bread
Purchasing item 1: Milk
Purchasing item 2: Salmon
Purchasing item 3: Chicken

In [89]:
basketball_team = {
  "Center (C)": "DeMarcus Cousins",
  "Power Forward (PF)": "Draymond Green",
  "Small Forward (SF)": "Kevin Durant",
  "Shooting Guard (SG)": "Klay Thompson",
  "Point Guard (PG)": "Stephen Curry"
}

for key, value in basketball_team.items():
  print(key, value)

Center (C) DeMarcus Cousins
Power Forward (PF) Draymond Green
Small Forward (SF) Kevin Durant
Shooting Guard (SG) Klay Thompson
Point Guard (PG) Stephen Curry

### While Loop

A while loop is designed to run until a user defined condition is no longer satisfied.

Pseudo-code example:

```
while hungry():
    eat_food() # Do this while you are hungry
    
play_games() # Do this when you are not hungry anymore
```

In [90]:
i = 0
while i < 10:
  print(i)
  i = i + 1

0
1
2
3
4
5
6
7
8
9

In [91]:
shopping_items = ["Bread", "Milk", "Salmon", "Chicken"]
index = 0
while index < len(shopping_items):
  print(shopping_items[index])
  index += 1

Bread
Milk
Salmon
Chicken

One unique property of the While loop is that condition can always be satisfied but a program can exit the loop when a condition inside the loop is satisfied using a **break** function.

In [92]:
i = 0
while(True):
  i = i + 1
  if (i == 10):
    break
  print (i)
print("Bye Bye")

1
2
3
4
5
6
7
8
9
Bye Bye

## Functions

Functions are a convenient way to divide your code into useful blocks, allowing us to structure our code, make it more readable, **reuse** it and save some time. 

The syntax to define a function would be



```
def my_function(input1, input2 ..., inputn):
    # Write your code here
    return output
```

**Note:** It is not always essential to understand how a function works. However, you must understand what the correct type of inputs and outputs are.

In [0]:
def sum(num1, num2):
  """Performs num1 + num2"""
  """
  Input:
    num1 (Number)
    num2 (Number)
  Output:
    Sum of the 2 numbers
  """
  return num1 + num2

In [94]:
help(sum)
sum(2, 4)

Help on function sum in module __main__:

sum(num1, num2)
    Performs num1 + num2

6

In [95]:
"""This cell demonstrates what code would look like without a function."""
course_marks = {
  "Angela": 90,
  "Peter": 45,
  "Jimmy": 66
}

mark = course_marks["Angela"]
if mark < 50:
  print("FL")
elif mark < 65:
  print("PS")
elif mark < 75:
  print("CR")
elif mark < 85:
  print("DN")
else:
  print("HD")

mark = course_marks["Peter"]
if mark < 50:
  print("FL")
elif mark < 65:
  print("PS")
elif mark < 75:
  print("CR")
elif mark < 85:
  print("DN")
else:
  print("HD")
  
mark = course_marks["Jimmy"]
if mark < 50:
  print("FL")
elif mark < 65:
  print("PS")
elif mark < 75:
  print("CR")
elif mark < 85:
  print("DN")
else:
  print("HD")

HD
FL
CR

In [96]:
"""This cell makes use of the function 'get_grade' """
def get_grade(mark):
  """
  Input : mark (number)
  Output: What grade has been achieved with that mark.
  
  """
  if mark < 50:
    print("FL")
  elif mark < 65:
    print("PS")
  elif mark < 75:
    print("CR")
  elif mark < 85:
    print("DN")
  else:
    print("HD")
  return

course_marks = {
  "Angela": 90,
  "Peter": 45,
  "Jimmy":66
}

get_grade(course_marks["Angela"])
get_grade(course_marks["Peter"])
get_grade(course_marks["Jimmy"])

HD
FL
CR

Python has several built-in functions. You can find them in the [documentation](https://docs.python.org/3.6/library/functions.html).

We have used some of them already.
- print
- type
- range
- enumerate
- str
- len

**help** is a special Python function that prints out the **docstring** (function description) for a function.

In [97]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

## List Comprehensions

List comprehensions provide a concise way to create lists.

In [98]:
"""(1) List Comprehension"""
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [99]:
"""(1) For Loop that does the same thing"""
l = []
for i in range(10):
  l.append(i) # append will add a varialbe to the END of the list
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [100]:
"""(2) List Comprehension"""
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [101]:
"""(2) For Loop that does the same thing"""
l = []
for i in range(10):
  if i % 2 == 0:
    l.append(i)
print(l)

[0, 2, 4, 6, 8]

In [102]:
"""(3) List Comprehension"""
shopping = {
    "2L Full Cream Milk": 2.00,
    "100g Smoked Salmon": 16.99,
    "5 Pack Mi Goreng": 2.75,
    "1kg Chicken": 20.99,
    "Starbucks Coffee": 7.99
    
}
print([item for item, price in shopping.items() if price < 5.00])

['2L Full Cream Milk', '5 Pack Mi Goreng']

In [103]:
"""(3) For Loop that does the same thing"""
l = []
for item, price in shopping.items():
  if price < 5.00:
    l.append(item)
print(l)

['2L Full Cream Milk', '5 Pack Mi Goreng']

## Mapping and Filtering

Below are some useful utility functions that you can use on a list of values.

In [104]:
numbers = list(range(1, 10))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

##### Map

Map applies a function to all the items in a list.

In [105]:
def add_10(x):
  return x+10

list(map(add_10, numbers))

[11, 12, 13, 14, 15, 16, 17, 18, 19]

##### Filter

As the name suggests, filter creates a list of elements for which a function returns true.

In [106]:
def isLessThan5(x):
  if x < 5:
    return True
  else:
    return False

list(filter(isLessThan5, numbers))

[1, 2, 3, 4]

## Error Handling

Errors are inevitable in Python and programming. However, through errors we can learn and get better at progrmaming. 

Python will tell you which line has triggered the error, making it usually easy for you to fix the error.

If you have trouble fixing your error, feel free to ask a tutor or post on Moodle.


Here are some common errors.

In [107]:
string = "hello"
print(string)

hello

In [108]:
shopping = ["Bread", "Cake", "Ice Cream"]
print(shopping[1])

Cake

In [109]:
x = 2
if x < 10:
  print("True")
else:
  print("False")

True

# Exercise 13
Ues a 'for' loop to print the countries in the list clist = ['Canada','USA','Mexico','Australia'].
# Answer

In [110]:
clist = ['Canada','USA','Mexico','Australia']
for country in clist:
    print (country)

Canada
USA
Mexico
Australia

# Exercise 14
Modify the code in Exercise 13 to print the country and its number. The output should be like:

Country 1: Canada

# Answer

In [111]:
clist = ['Canada','USA','Mexico','Australia']
for i,country in enumerate (clist):
    print ('Country '+str(i+1)+':'+country)

Country 1:Canada
Country 2:USA
Country 3:Mexico
Country 4:Australia

# Exercise 15
Write a Python code to print the multiplication table of 3 using a 'for' loop

# Answer

In [112]:
for i in range(1,13):
    print ('3 x '+str(i)+' = '+str(i*3))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36

# Exercise 16
Repeat Exercise 15 using a different range as shown below. You have to get the same output.

# Answer

In [113]:
for i in range(1,12):
  print('5 x ' +  str(i) + ' = ' + str(i*5))
    # put your code here

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55

# Exercise 17
Write a Python code to sum the numbers from 1 to 20 using 'while' loop
# Answer

In [114]:
Sum = 0
n = 1
while n <=20:
    Sum = Sum + n
    n = n + 1
print (Sum)

210

# Exercise 18
Use the code in Exercise 17 to write a function 'Sum' that accepts k as input and returns the sum the numbers from 1 to k
# Answer

In [115]:
def Sum(k):
    
    """
    Input : n (number)
    Output: the sum of numbers from 1 to k.

    """
    S = 0
    n = 1
    while n <= k:
        S = S + n
        n = n + 1
    return (S)

# let's test the function
Sum(20)

210

# Exercise 19
Repeat Exercise 18 using 'for' loop instead of while loop
# Answer

In [116]:
def Sum2(k):
    
    """
    Input : n (number)
    Output: the sum of numbers from 1 to k.

    """
    S = 0
    for n in range(1,k+1):
        S = S + n
    
    return (S)

# let's test the function
Sum2(20)

210

# Quiz 2 (2 Marks)
Write a Python function 'Sum3' that accepts a list of numbers 'Num' and returns the sum of the numbers in Num. For example: if Num = [12,45,10,19,5,9], the function returns 100.

In [119]:
def Sum3(Num):
    """
    Input : Num (list of numbers)
    Output: the sum of numbers in Num

    """
    # put your code here   
    sum = 0
    for i in Num:
      sum = sum+i
    
    return sum


# let's test the function
A = [12,45,10,19,5,9]
Sum3(A)

100